body{
    background-color: black;
    color:white;
}
.navbar{
    box-shadow: 1px 1px 150px hsl(275, 100%, 20%);
    background-color: hsl(0, 0%, 5%);
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.4s;
    z-index: 1000;
}
.hidden1{
    top: -100%;
    transition: 0.5s ease-in-out;
}
.navbar-brand img{
    border-radius: 50%;
}
.nav-item{
    margin: 0px 10px;
    position: relative;   
    font-size: 1rem;
    font-family:monospace;
}
li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #7700cc;
    transition: ease-out 0.4s;
    left: 0;
    bottom: 0;
}
li a:hover {
    color:hsl(275, 100%, 40%);
    text-shadow: 0 0 20px hsl(275, 100%, 40%), 0 0 12px hsl(275, 100%, 40%), 0 0 16px hsl(275, 100%, 40%);
}
li a:hover::after {
    width: 100%;
}
#home{
    height: 660px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 4% 0% 6%;
}
#home-left{
    height: fit-content;
    width: 60%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#home-left-heading{
    font-size: 2.5rem;
    padding-left: 3%;
}
#home-left-heading span{
    position: relative;
    color:black;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family:monospace;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 0.09vw hsl(275, 100%, 20%);
    text-shadow: 1px 1px 5px #7700cc;
}
#home-left-heading span::before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: hsl(300, 100%, 50%);
    -webkit-text-stroke: 0vw hsl(275, 100%, 20%);
    border-right: 3px solid hsl(300, 100%, 50%);
    overflow: hidden;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    65%,90%{
        width: 100%;
    }
}
.description1{
    text-align: end;
    padding-right: 5%;
    font-size: 1.4rem;
    color: plum;
    text-shadow: 0 0 10px hsl(275, 100%, 40%), 0 0 20px hsl(275, 100%, 40%), 0 0 16px hsl(275, 100%, 40%);
}
#home-right{
    height: 100%;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#home-right-photo{
    height: 60%;
    width: 70%;
    border-radius: 100%;
    margin: 25% 0px 6% 0px;
    box-shadow: 0px 0px 25px purple;
    background: url(./sid.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 60% 100%;
    display: none;
}
#home-right-socialMedia{
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 200px;
}
#about{
    height: fit-content;
    width: auto;
    margin: 1% 5%;
    padding: 10px;
}
.h3{
    padding: 0.3%;
    display: inline;
    color: hsl(300, 100%, 50%);
    border-bottom: 2px solid hsl(300, 100%, 50%);
}
#about-container{
    display: flex;
    align-items: center;
}
.about-container-left{
    width: 60%;
    height: fit-content;
}
.description{
    font-size: 1.12rem;
    letter-spacing: 2px;
    /* animation: slide 2s ease-out; */
    padding-top: 4%;
}
@keyframes slide{
    from{transform: translateX(-100%);}
    to{transform:translateX(0%);}
}
.about-container-right{
    width: 50%;
    height: fit-content;
    text-align: justify;
    letter-spacing: 1px;
    margin-left: 2%;
}
.about-container-right-table{
    margin-left: .1em;
    margin-top: 4%;
    font-size: 1.5rem;
}
.about-container-right-table th{
    color: whitesmoke;
}
#skills{
    height: fit-content;
    width: 90%;
    margin: 0% 5%;
    padding: 10px;
    border-radius: 10px;
}
.skills-progress{
    margin: 1em 0%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #7700cc;
}
.skills-progress-row{
    display: flex;
}
.skills-progress-row .col{
    margin: 1.6em;
}
.skills-progress-row .col h5{
    display: inline;
}
.skills-progress-row .col .progress-percentage{
    float: right;
}
.skills-progress-row .col .progress{
    margin: 0.6em 0;
    width: 100%
}
.skills-progress-row .col .progress .progress-bar{
    background-color: hsl(300, 100%, 20%);
}
#projects{
    width: 90%;
    height: fit-content;
    margin: 1% 5%;
    padding: 10px;
}
#projects-container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #7700cc;
    margin: 1em 0%;
}
.projects-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#projects .projects-row .card{
    box-shadow: 0px 0px 10px hsl(251, 55%, 25%);
    color: white;
    background-color: black;
    margin: 2em 2em;
    border-radius: 5px;
    letter-spacing: 1.5px;
    transition: 1s ;
}
#projects .projects-row .card:hover{
    box-shadow: 1px 1px 30px hsl(251, 55%, 25%);
    transform: translateY(-15px);
}
#projects .projects-row .card .card-title{
    color: #7777ff;
}
#contact{
    width: 90%;
    margin: 0% 6%;
}
#contact-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0em;
    padding: 2em 1em;
    box-shadow: 0px 0px 6px #7700cc;
    border-radius: 10px;
}
#contact-container-left{
    width: 45%;
    height: fit-content;
}
#contact-container-right{
    width: 45%;
    height: fit-content;
}
.contact-desc,#contact-container-left table{
    letter-spacing: 1.5px;
    font-size: medium;
}
table .table-logo{
    padding: 0px 10px 10px 0px;
}
iframe{
    margin: 10px 0px ;
}
footer{
    background-color: hsl(300, 100%, 2%);
    margin: 3% 0 0 0;
    padding: 0% 0% 1% 0%;
}
#footer-socialMedia{
    display: flex;
    justify-content: center;
}
#footer-socialMedia img{
    margin: 0px 16px 15px 16px;
}
/* animations */
.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1.5s ease;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media (max-width: 900px) {
    #contact-container{
        flex-direction: column;
        padding: 1em 0em;
        overflow: hidden;
    }
    #contact-container-left,
    #contact-container-right{
        width: 90%;
    }
    .projects-row{
        flex-direction: column;
    }
    #projects .projects-row .card{
        margin: 1em 0em;
        letter-spacing: 1px;
    }
    #skills .skills-progress-row{
        flex-direction: column;
    }
    .progress{
        margin: 0.6em 0;
    }
    #about-container{
        flex-direction: column;
    }
    #about-container .about-container-left{
        width: 100%;
    }
    #about-container .about-container-left .description{
        letter-spacing: 0.5px;
        font-size: 1rem;
    }
    #about-container .about-container-right{
        width: 100%;
    }
    .about-container-right-table{
        margin-top: 0px;
        font-size: 0.88rem;
    } 
    #home{
        flex-direction: column;
    }
    #home-left{
        width: 100%;
        font-size: .1rem;
        margin-top: 50em;
    }
    #home-left-heading{
        font-size: 2rem;
    }
    #home-left-heading span{
        font-size: 2.2rem;
    }
    #home-left .description1{
        padding-right: 0px;
    }
    #home-right{
        width:100%;
        height: fit-content;
    }
    #home-right-photo{
        height: 23em;
        width: 18em;
        margin: 20px 0px;
        border-radius: 20px;
        background-position-y: 1px;
    }
    .nav-item{
        font-size: 1.15rem;
    }
}
@media (min-width: 700px) and (max-width:900px) {
    #about-container .about-container-left .description{
        letter-spacing: 1px;
        font-size: 1.1rem;
    }
    .about-container-right-table{
        margin-top: 0px;
        font-size: 1.6rem;
    } 
}